@{
    ViewData["Title"] = "Create Link";
}

<h3>Форма для создания короткой ссылки</h3>
<br/>
<form method="post" class="form-horizontal" role="form">
    <div class="row">
        <div class="col-md-10">
            <input type="text" name="LongURL" class="form-control" placeholder="https://example.com/"/>
        </div>
        <div class="col">
            <input type="submit" class="btn btn-outline-primary" value="Создать" />
        </div>
    </div>
</form>